.header{
    width: 960px;
    background-color: rgb(156, 226, 250);
    height: 50px;
}

    .header-fixed{
        position: fixed;
        width: 960px;
        background-color: rgb(156, 226, 250);
    }

    .title{
        text-align: center; 
    }

    h1{
        font-size: 20px;
        color: #FFF;
    }

    .time{
        width: 960px;
        background-color: rgb(119, 174, 185);
        font-size: 14px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    
        
    }

    .time-circle{
        width: 150px;
        
        background-color: rgb(102, 150, 165);
    
        
    }
    .time-circle p{
        
        /* background-color: forestgreen; */
        padding: 20px 0;
        text-align: center;
        font-size: 14px;
    }

    /* -------------------- */
.item{
    width: 960px;
    height: 1000px;
    background-color: rgb(27, 62, 82);
    
}

    .item01{
        width: 100%;
        background-color: rgba(241, 117, 163, 0.479);
        display: flex;
        text-align: center;
    }

        .checkbox{
            width: 5%;
            background-color:rgba(255, 255, 255, 0.7);
            padding: 10px 0;
            justify-content: center;
        }


        .detail{
            width: 60%;
            background-color: rgba(92, 143, 240, 0.7);
            padding: 10px 0;
        }


        .point{
            width: 10%;
            text-align: center;
            padding: 10px 0;
            color: #FFF;
            font-size: 20px;
        }

        .spend_time{
            width: 25%;
            background-color: rgba(255, 255, 255, 0.7);
            padding: 10px 0;
        }
        
    

    /* ------------------- */
.add_item{
    width: 960px;
    background-color: rgba(230, 118, 118);
    align-items: center;
    justify-content: center;
}

    .add_button{
        width: 100%;
        text-align: center;
        padding: 10px 0;

    }
/* ------------- */
.footer{
    width: 960px;
    background-color: #000;
    color: #999;
    text-align: center;
    
}