*{
    font-family: '微軟正黑體';
}

h2{
    font-size: 2rem;
    padding: 1rem;
    background-color: rgb(163, 228, 163);
}
ul{
    font-size: 1.5rem;
    padding: 1rem;
    
}
li{
    margin: 1rem;
    padding: 1rem;
    background-color: rgb(233, 227, 171);
}

.complete{
    background-color: rgb(163, 24, 24);
}